<div class="modal fade" id="create-item-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
  <div class="modal-dialog modal-medium" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4>{{ slide.title }}</h4>
      </div>
      <div class="modal-body">
        {% include 'admin_panel/sliders/create_slider.html' %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <a class="btn btn-success" id="save-btn" onclick="validateForm('new-slider-form-{{ slide.pk }}')">Сохранить</a>
      </div>
    </div>
  </div>
</div>