<div class="modal fade" id="postPreviewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-lg" role="document" style="z-index: 8000">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Превью</h4>
              </div>
              <div class="modal-body">
                  <div class="blogs">
                    <div class="container">
                        <div class="titleBlog">
                            <span style="text-transform: uppercase"><h1 id="title"></h1></span>
                            <p><i>Дата создания...</i></p>
                        </div>
                        <div class="photoblog">
                            <img id="thumbnail" src="">
                        </div>
                        <div class="text" id="excerpt"></div>
                    </div>
                    <div id="previewContainer"></div>
                  </div>
              </div>
            </div>
          </div>
        </div>