<tr class="sale-container" id="sale-container-{{ sale.pk }}">
    <td class="text-center" width="250" style="word-break: break-all">
        {{ sale.name }}
    </td>
    <td class="text-center">
        {{ sale.date_of_start }}
    </td>
    <td class="text-center">
        {{ sale.date_of_end }}
    </td>
    <td class="text-center" width="150">
        <div class="col-xs-12">{{ sale.rate }}% </div>
    </td>
    <td class="text-center" width="100">
        <form action="{% url 'delete_sale' %}" method="POST" hidden>
            {% csrf_token %}
            <input type="hidden" name="pk" value="{{ sale.pk }}"/>
        </form>
        <a class="pull-center action-button" onclick="$(this).parent().find('form').submit()"><i class=" text-danger fa fa-times" aria-hidden="true"></i></a>
    </td>
</tr>