<div>
    <div class="col-xs-12 text-left material-shadow" style="background-color: white; padding: 5px;">
        <h4>Типы товара</h4>

        <form action="{% url 'create_item_type' %}" method="POST" id="new-material-name-form">
            {% csrf_token %}
            <div class="input-group ">
                <input type="text" class="" name="name" placeholder="Добавить тип товара..." id="new-material-name">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-plus"></i></button>
                </span>
            </div>
        </form>
        {% if items_types %}
        <table class="table table-hover materials-table">
            <tbody id="materials-container">
            {% for item_type in items_types %}
                {% include 'admin_panel/items/items_settings/item_type.html' %}
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% include 'admin_panel/no_data_message.html' with data=items_types message='Типов товара еще нет' %}
    </div>
</div>