{% load staticfiles %}
<div class="container">
    <div class="footer-widget-wrap">
        <div class="row">
            <div class="footer-widget-col col-sm-6 col-xs-12">
                <div class="line hidden-sm hidden-xs"></div>
                <div class="widget widget_text">
                    <div class="contacts textwidget">
                        <h4>Контакты</h4>
                        <ul class="col-md-6">
                            <li class="contact">
                                <i class="fa fa-vk"></i>
                                <a href="http://vk.com/salarium" target="_blank">vk.com/salarium</a>
                            </li>
                            <li class="contact ">
                                <i class="fa fa-instagram"></i>
                                <a href="http://instagram.com/salarium" target="_blank">instagram/salarium</a>
                            </li>
                            <li class="contact ">
                                <i class="fa fa-twitter"></i>
                                <a href="http://twitter.com/salariumby" target="_blank">twitter/salariumby</a>
                            </li>
                        </ul>
                        <ul class="col-md-6">
                            <li class="contact ">
                                <i class="fa fa-phone"></i> +375 (29) 911-41-58
                                <br>
                                <span class="phoneMarg">+375 (25) 94-13-665</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-widget-col col-sm-6 col-xs-12">
                <div class="widget widget_text ">
                    <div class="textwidgt">
                        <ul class="reg col-md-6">
                            <h4>Регистрация</h4>
                            <li class="contact">
                                <p>ИП Галицкий Владислав Иосифович. Гос. регистрация от 6.10.2014 Администрацией
                                    Первомайского района г. Витебска №391668040 Юр. Адрес: Г. ВИТЕБСК, УЛ. ЧКАЛОВА
                                    д.27-1 кв.59. Дата регистрации в Торговом реестре Республики Беларусь: 6.12.2014
                                    Исполнительным комитетом г. Витебска. Режим работы: 10.00-19.00 без выходных</p>
                            </li>
                            <li class="pay">
                                <p>Способ оплаты:<img src="{% static 'salarium/img/icons.png' %}"></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>