{% load staticfiles %}

<script src="{% static 'salarium/js/mediaLibrary.js' %}"></script>
<script src="{% static 'salarium/js/vendor/livesearch.min.js' %}"></script>

<script type='text/javascript' src='{% static 'salarium/js/vendor/jquery-migrate.min.js' %}'></script>
<script type='text/javascript' src='{% static 'salarium/js/vendor/easing.min.js' %}'></script>
<script type='text/javascript' src='{% static 'salarium/js/vendor/imagesloaded.pkgd.min.js' %}'></script>
<script type='text/javascript' src='{% static 'salarium/js/vendor/superfish-1.7.4.min.js' %}'></script>
<script type='text/javascript' src='{% static 'salarium/js/vendor/jquery.appear.min.js' %}'></script>
<script type='text/javascript' src='{% static 'salarium/js/vendor/script.js' %}'></script>
<script type='text/javascript' src='{% static 'salarium/js/vendor/swatches-and-photos.js' %}'></script>
<script type='text/javascript' src='{% static 'salarium/js/vendor/jquery.cookie.min.js' %}'></script>
<script type='text/javascript' src='{% static 'salarium/js/vendor/jquery.prettyPhoto.js' %}'></script>
<script type='text/javascript' src='{% static 'salarium/js/vendor/jquery.prettyPhoto.init.min.js' %}'></script>
<script type='text/javascript' src='{% static 'salarium/js/vendor/jquery.selectBox.min.js' %}'></script>
<script type='text/javascript' src='{% static 'salarium/js/vendor/jquery.touchSwipe.min.js' %}'></script>
<script type='text/javascript' src='{% static 'salarium/js/vendor/jquery.transit.min.js' %}'></script>
<script type='text/javascript' src='{% static 'salarium/js/vendor/jquery.carouFredSel.js' %}'></script>
<script type='text/javascript' src='{% static 'salarium/js/vendor/jquery.magnific-popup.js' %}'></script>
<script type='text/javascript' src='{% static 'salarium/js/vendor/jquery.parallax.js' %}'></script>
<script type='text/javascript' src='{% static 'salarium/js/vendor/arrow.js' %}'></script>
<script type='text/javascript' src='{% static 'salarium/js/chatbox/chatbox.js' %}'></script>



